<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Not Found</title>
    <link rel="stylesheet" href="/static/css/pico.grey.min.css">
</head>
<body>
    <header class="header container">
        <h1>404</h1>
    </header>

    <main class="container">
        <p>LOL I broke my own website.</p>
        <p>This URL doesn't exist. It might have been moved, deleted, or never existed in the first place.</p>
        <a href="/" class="button">Go to Homepage</a>
    </main>
</body>
</html>
