<!DOCTYPE html>

<html>
    <head>
        <title>{{ title }}</title>
        <meta http-equiv="Content-Security-Policy" content="default-src 'self'; style-src 'self' https://cdn.simplecss.org; script-src 'self'; img-src 'self'; connect-src 'self'; font-src 'self'; object-src 'none'; frame-ancestors 'none'; base-uri 'self'; form-action 'self';">
        <!--<link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">-->
        <link rel="stylesheet" href="/static/css/pico.grey.min.css">
        <link rel="stylesheet" href="/static/style.css">
    
    </head>
    <body class="container">
        <header class="header">
            <a href="/"><h1>Homepage</h1></a>
        </header>
    
        {{ content|safe }}

    </body>
</html>