<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; style-src 'self' https://cdn.simplecss.org; script-src 'self' https://uanami.com; img-src 'self'; connect-src 'self'; font-src 'self'; object-src 'none'; frame-ancestors 'none'; base-uri 'self'; form-action 'self';">
    <title>Color Picker</title>
    <link rel="stylesheet" href="/static/css/pico.grey.min.css">
    <script defer src="https://cloud.umami.is/script.js" data-website-id="fd4248a8-d075-4593-8ebc-964ffbb6f4d6"></script>

</head>
<body class="container">
    <h1>Select a Color</h1>
    <form action="/lamp_color_picker_api_ljbwefobwejflwejfljwef12edwqdqdsf" method="POST">
        <div>
            <label for="color">Choose a color:</label>
            <input type="color" id="color" name="color" value="#ff0000">
        </div>
        <div>
            <label for="password">Enter password:</label>
            <input type="password" id="password" name="password">
        </div>
        <button type="submit">Submit</button>
    </form></body>
</html>