<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog name here</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <link rel="stylesheet" href="/static/homepagestylee.css">

</head>
<body>
    
    <header>
        <h1>My Homepage</h1>
    </header>
    <main>
        <section id="about">
            <h2>About Me</h2>
            <p>Blah blah blah I'm Jack Hagen and I do computer things.</p>
        </section>
        <section id="tags">
            <h2>Tags</h2>
            <ul>
                {% for tag in tags %}
                    <li><a href="{{ url_for('tag', tag=tag) }}">{{ tag }}</a></li>
                {% endfor %}
            </ul>
        </section>

        <section id="articles">
            <h2>Recent Articles</h2>
            <ul>
                {% for article in articles %}
                    <li><a href="/articles/{{ article }}">{{ article }}</a></li>
                {% endfor %}
            </ul>
        </section>

        <section id="research">
            <h2>My Research</h2>
            <ul>
                {% for researc in research %}
                    <li><a href="/research/{{ researc }}">{{ researc }}</a></li>
                {% endfor %}
            </ul>
        </section>
        <section id="connect">
            <h2>Connect with Me</h2>
            <ul>
                <li><a href="link">GitHub</a></li>
                <li><a href="link">LinkedIn</a></li>
                <li><a href="mailto:your@email.com">Email</a></li>
            </ul>
        </section>
    </main>
</body>
</html>
