<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jack Hagen</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <link rel="stylesheet" href="/static/homepagestylee.css">

</head>
<body>
    
    <header class="header">
        <a href="/"><h1>Jack Hagen</h1></a>
    </header>
    <main>
        <section id="about">
            <h2>About Me</h2>
            <p>Blah blah blah I'm Jack Hagen and I do computer things. I hate frontend. <a href="/articles/Introduction">Introduction.</a></p>
            <p>This is the spot for all of my work, accomplishments, thoughts, all that. I put professional thoughts/work/research in the 'research' category and other things less formal in 'articles'.</p>
        </section>
        <section id="tags">
            <h2>Tags</h2>
            <ul>
                {% for tag in tags %}
                    <li><a href="{{ url_for('tag', tag=tag) }}">{{ tag }}</a></li>
                {% endfor %}
            </ul>
        </section>

        <section id="articles">
            <h2>Recent Articles</h2>
            <ul>
                {% for article in articles %}
                    <li><a href="/articles/{{ article }}">{{ article }}</a></li>
                {% endfor %}
            </ul>
        </section>

        <section id="research">
            <h2>My Research</h2>
            <ul>
                {% for researc in research %}
                    <li><a href="/research/{{ researc }}">{{ researc }}</a></li>
                {% endfor %}
            </ul>
        </section>
        <section id="connect">
            <h2>Connect</h2>
            <ul>
                <li><a href="https://github.com/ThisIsNotANamepng">GitHub</a></li>
                <li><a href="https://linkedin.com/in/jack-hagen-76580b293">LinkedIn</a></li>
            </ul>
        </section>
        <section id="connect">
            <h2>Other</h2>
            <ul>
                <li><a href="/articles/Boilerplate">Boilerplate</a></li>
            </ul>
        </section>

    </main>
</body>
</html>
