<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; style-src 'self'; script-src 'self' https://cloud.umami.is; img-src 'self'; connect-src 'self' https://api-gateway.umami.dev; font-src 'self'; object-src 'none'; frame-ancestors 'none'; base-uri 'self'; form-action 'self';">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jack Hagen</title>
    <link rel="stylesheet" href="/static/css/pico.grey.min.css">
    <link rel="stylesheet" href="/static/homepagestylee.css">
    <script defer src="https://cloud.umami.is/script.js" data-website-id="fd4248a8-d075-4593-8ebc-964ffbb6f4d6"></script>
</head>
<body>
    
    <header class="header container">
        <a href="/"><h1>Jack Hagen</h1></a>
    </header>
    <main class="container">

        <h1><a href="https://sive.rs/now2">What I'm Doing Now</a></h1>
        <h2>Updated January 1st, 2025</h2>

        <h3>Winter break</h3>
        <p>I'm out for winter break until late January, so I've been using my newfound free time to work on some personal research and projects, largely building out ideas I want to pursue with the cybersecurity club that I formed. <a href="https://github.com/Blugold-Group">(The Blugold Group)</a>. </p>

        <p>I've ported some major features to our internal ctf <a href="https://github.com/Blugold-Group/CTF_Scoreboard">website</a>, refactored our <a href="https://github.com/Blugold-Group/TALONS">TALONS</a> (our custom built toolkit for CTFs), and completely rethought how we build <a href="https://github.com/Blugold-Group/sicarius">Sicarius</a>, our custom LLM which specialized in cybersecurity, specifically for helping our members during cyber engagements. So far I've built out a LLM fine tuning pipeline and created two datasets completely from the ground up for fine tuning. I am so lucky that my university has an HPC center.</p>

        <p>As of right now I'm the only one working on these projects (besides the website, I have one member who's picked up some feature requests there), but I plan to change that with this upcoming semester as we get established and I can train our members. For all of the clubs I run I'm planning a "spring blitz", big campaigns to improve member engagement and generally make the clubs better. I founded the Model UN and Cybersecurity clubs last semester, but I also became the president of my university's student chapter of the ACM for this upcoming semester.</p>

    </main>
</body>
</html>
