<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ tag }}</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <link rel="stylesheet" href="/static/style.css">

</head>
<body>
    <header class="header">
        <a href="/"><h1>Homepage</h1></a>
    </header>

    <h1>Articles with tag: {{ tag }}</h1>
    <ul>
        {% for article in articles %}
            <li><a href="/articles/{{ article.title }}">{{ article.title }}</a></li>
        {% endfor %}
    </ul>
</body>
</html>
